body{
   background-color: bisque;
}

#link{
   
    color: darkturquoise;
    margin-top: 20px;
    border: 2px solid blueviolet;
}

.maindiv{
    justify-content: center;
    align-items: center;
}

.movietowatch, .images, .chores {
    margin-top: 20px;
    border: 2px solid brown;
    padding: 15px;
}

