
<app-parent></app-parent>

<div class="container">
        <input type="text" [(ngModel)]="searchStr" placeholder="search">
        <p>searching according to {{searchStr}}</p>
</div>

<div class="container">
    <div class="row my-5" >
            <div class="card mb-5 mx-3 col-lg-3 col-3" *ngFor="let emp of employee | search : searchStr">
                    <div class="card-body " >
                            <img *ngIf='emp.flag' [src]='emp.image'  height="150" width="250"> 
                            <hr>
                        <h5 class="card-title text-muted text-uppercase text-center">{{emp.name | lowercase}}</h5>
                        <h5 class="card-title text-muted text-uppercase text-center">{{emp.empid}}</h5>
                        <h6 class="card-price text-center"><span class="period">{{emp.designation}}</span></h6>
                        
                        <button class="btn btn-success mx-5" (click)="toggleImg(emp)">Hide/Show Image</button>
                    </div>
            </div>
    </div>

        
</div>
